body {
    font-family: 'Cabin', sans-serif;
    background-color: rgb(233, 226, 33);
}

/* NAVBAR */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(195,1,1,1 )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
    }

.bg-dark {
    background-color: #040404 !important;
}

.navbar-dark .navbar-nav .show>.nav-link  {
    color: rgba(195,1,1,1 );
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(195, 1, 1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(233, 226, 33);
    font-weight: 700;
}

.dropdown-item {
    color: rgba(195,1,1,1);
    font-weight: 500;
}

.btn-outline-warning {
    color: rgb(233, 226, 33);
    border-color: rgb(233, 226, 33);
}

#logo-clube {
    width: 40%;
    height: auto;
    padding: 0;
}

/* GALLERY */

.gallery {
    margin: 2% 0 2%;
}

/* UTILITIES */

.utilities {
    margin: 10px;
}
.utilities-join {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}