body {
    font-family: 'Cabin', sans-serif;
    background-color: #292929;
    /* background-color: rgba(233, 226, 33, 0.82); */
}

header {
    width: auto;
}

p {
    margin: 0px;
}

/* a {
    color: #212529;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);    
    background-color: transparent;
    
} */

a:hover {
    color: rgba(195,1,1,1 );
    cursor: pointer;
}

/* NAVBAR */

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1 )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
    }

.bg-dark {
    background-color: rgb(245, 220, 25) !important;
}

.navbar-dark .navbar-nav .show>.nav-link  {
    color: rgba(195,1,1,1 );
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(195, 1, 1);
}

.navbar-dark .navbar-nav .nav-link {
    color: black;;
    font-weight: 700;
}

.dropdown-item {
    color: black;
    font-weight: 500;
}

.btn-outline-warning {
    color: rgb(245, 220, 25);
    border-color: rgb(245, 220, 25);
}

#logo-clube {
    width: 40%;
    height: auto;
    padding: 0;
}

/* MAIN HEADER */
.main-header {
    background: rgb(245, 220, 25);
    margin-top: -1px;
}

.main-header p {
    font-size: 2.5rem;
    padding: 10px 0px;
    font-weight: bolder;
    text-align: center;
    margin: 0px;
    color:  black;
}

.main-header-text {
    margin-right: 0px;
    margin-left: 0px;
}

/* CAROUSEL*/
.carousel {
    margin: 50px 0px;
}

/* GALLERY */

.gallery {
    margin: 25px;
}

/* UTILITIES */

.utilities {
    margin: 25px 0px;    
    background:	#292929;
    color: rgb(245, 220, 25);
    border-top: .02px solid #9a9696;
    border-bottom: .09px solid #9a9696;
}
.utilities-item {
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

/* NEXT-EVENTS */

.next-events {
    margin: 25px 0px;
    text-align: center;
    color: rgb(245, 220, 25);

}

.next-events-title p{
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 500;  
}

.next-events-month{
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 2px;
}

.next-events-days {
    font-size: 1.2rem;
    margin: 4px;
    width: 100px;
}

.next-events-date{
    font-weight: bolder;
    background: rgba(218, 218, 218, 0.8);
}

.next-events-date p {
    color: black;
}

.next-events-weekday {
    background:white;
    padding: 30px;
}

.next-events-weekday p {
    color: black;
}

.next-events-footer {
    margin-top: 30px;
}

.next-events-info p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    padding: 2px;
}

.btn-circle {
    width: auto;
    height: auto;
    padding: 4px 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.42857;
}

/* LOGIN */

.login {
    margin: 50px 0px;
    text-align: center;
    border-top: .5px solid #9a9696;
    border-bottom: .5px solid #9a9696;

}

.login p{
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 500;  
}

.login a {
    color: rgb(245, 220, 25);
}

/* ARTICLES */

.articles {
    margin: 30px 0px;
    text-align: center;
    
}

.article {
    border-left: .5px solid #9a9696;
    border-right: .5px solid #9a9696;
    margin: 50px 0;
}

.articles-header p{
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(245, 220, 25); 
}

.articles-title p{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(245, 220, 25);
}

.articles-img img {
    width: 100%;
    height: 150px;
    margin-top: 5px;
    padding: 0px 10px;
}

.articles-minitext p {
    margin-top: 5px;
    text-align: left;
    font-size: 1.1rem;
    padding: 0px 10px;
    color: rgb(245, 220, 25);
}

/* LOCATION */

.location {
    margin: 50px 0;
    text-align: center;
    border-top: .5px solid #9a9696;
    border-bottom: .5px solid #9a9696;
}

.location-title p {
    font-size: 2rem;
    font-weight: 500;
    padding: 0px 6px;
    color: rgb(245, 220, 25);
    margin-top: 50px
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.158);
    background: white;
    margin-bottom: 50px;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.google-maps p {
    font-size: 2rem;
    font-weight: 500; 
    margin-bottom: 15px;
}

/* DOCS */

.docs {
    margin: 50px 0px;
}

.docs-title {
    font-size: 2rem;
    font-weight: 500;
    padding: 0px 6px;
    text-align: center;
    color: rgb(245, 220, 25);
}

.docs-card {
    padding: 10px;
    margin: 10px;
}
.docs-logo p {
    font-size: 3rem;
    color: rgb(245, 220, 25)
}

.docs-name p {
    font-size: 1.2rem;
    color: rgb(245, 220, 25)
}

/* FOOTER */

footer {
    background: rgb(245, 220, 25);
    color: black;
}

footer a {
    color: black;
}
.footer{
    margin-left: 0px;
    margin-right: 0px;
}



.footer-title {
    font-size: 25px;
    font-weight: bolder;
    margin: 20px 0;
}

.footer-filiado-img {
    width: 120px;
    height: 90px;
}

.footer-socialmedia-logo {
    font-size: 4rem;
}